// _variables.scss
$primary: #0a2740;
$secondary: #eaeaed;


$link-hover-decoration: bold;

$dark_blue : #011640;
$beige : #f2e6df;
$light_blue : #0A2740;
$orange : #F2785C;
$bordeau : #592C22;
//Light Blue #0A2740
// Background #F2E6DF
// Orange #F2785C
// Bordeau #592C22
